body{
  margin: 0;
  padding: 0;
  background-color: #3A2C23;
  overflow-x: hidden;
}

header {
  position: fixed;
  justify-content: space-between;
  z-index: 1;
}

.main {
  display: block;
}

header .logo {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

header .logo img {
  width: 60%;
  height: 80%;
  border-radius: 50px;
}

.container{
  display: flex;
  width: 100%;
  background-color: #331e1ce6;
  height: 90px;
  color: #fff;
  width: 100%;
  backdrop-filter: blur(6px);
}

.logo_txt{
  margin-left: 10px;
}

.header a {
  text-decoration: none;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.itensNaveBar {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 350px;
  list-style: none;
  padding-right: 20px;
  font-family: linden-hill;
  font-weight: 100;
  font-size: 20px;
}

.itensNaveBar a{
  text-decoration: none;
  color: #fff;
}

.home {
  background-image: url('../assets/imgs/fundo_tela.jpeg');
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.book{
  margin-bottom: 0;
  font-family: linden-hill;
  font-weight: 100;
}

.break{
  margin-top: -15px;
  margin-left: 8px;
  font-family: linden-hill;
  font-weight: 100;
}

.chamado {
  position: relative;
  height: 250px;

}

.chamado img {
  width: 50%;
  height: 350%;
  margin-left: -30px;
}

.chamado .textos {
  position: absolute;
  top: 300px;
  left: 140px;
}

.chamado h1 {
  font-family: lily;
  font-size: 70px;
  font-weight: 100;
  margin-bottom: 5px;
}

.chamado h2 {
  font-family: lusitana;
  font-size: 20px;
  font-weight: 100;
  margin-top: 0px;
}

.sobNos {
  background-image: url(../assets/imgs/livro_sob.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 660px;
  width: 1200px;
  margin-top: 80px;
  margin-left: 10%;
  align-self: center;

  display: flex;

}

.folha1 {
  width: 37%;
  margin-left: 10%;
  margin-top: 4.5%;

  display: block;
  text-align: center;
  padding-left: 7px;
  padding-right: 14px;
}

.folha1 .titulo {
 width: 100%;
}

.folha1 .titulo h1 {
  font-family: petit;
  font-size: 50px;
  text-decoration: underline;
  margin-top: 0;
  margin-bottom: 10px;
}

.folha1 .titulo p {
  font-family: pridi;
  font-size: 20px;
  text-align: justify;
  margin-top: 0;
}

.folha2 {
  width: 37%;
  margin-left: 2.2%;
  margin-top: 4.5%;

  display: block;
  text-align: center;
  padding-left: 7px;
  padding-right: 14px;
}

.folha2 .titulo {
 width: 100%;
}

.folha2 .titulo h1 {
  font-family: petit;
  font-size: 50px;
  text-decoration: underline;
}

.folha2 .titulo p {
  font-family: pridi;
  font-size: 20px;
  text-align: justify;
  font-weight: 100;
}

.icon_cadastro {
  background-image: url(../assets/icon/pena.png);
  width: 180px;
  height: 100%;
  background-size: cover;
}

.icon_cadastro .login{
  margin-left: 12px;
  margin-top: 12px;
  margin-bottom: 0px;
  font-family: linden-hill;
  font-weight: 100;
  font-size: 30px;

}

.icon_cadastro .comercial{
  margin-left: 85px;
  margin-top: -25px;
  margin-bottom: 0px;
  font-family: linden-hill;
  font-weight: 100;
  font-size: 24px;

}

.icon_cadastro .cadastro{
  margin-left: 65px;
  margin-top: -10px;
  margin-bottom: 0px;
  font-family: linden-hill;
  font-weight: 100;
  font-size: 24px;

}

.footer {
  height: 225px;
  width: 100%;
  margin-top: 10%;
}

.footer .f1{
  height: 75px;
  width: 100%;
  background-color: #BBB4B4;
}

.footer .f2{
  height: 150px;
  width: 100%;
  background-color: #D9D9D9;
}


.telaLogin {
  background-image: url(../assets/imgs/fundo_login.png);
  background-size: cover;
  width: 100vw;
  height: 100vh;

}

.telaLogin .opacity {
  width: 100%;
  height: 100%;
  background-color: #3a2c2376;

  display: flex;
  justify-content: center;
  align-items: center;

}

.telaLogin .box {
  background-color: #b0856bbc;
  width: 25%;
  height: 55%;
  border-radius: 20px;
  border: #3A2C23 solid 2px;
}

.telaLogin .box_cad {
  background-color: #b0856bbc;
  width: 40%;
  height: 65%;
  border-radius: 20px;
  border: #3A2C23 solid 2px;
}

.telaLogin h2 {
  color: #3A2C23;
  font-family: lusitana;
  font-size: 40px;
  text-align: center;
}

.formulario {
  display: flex;
  justify-content: center;
}

.campo span {
  font-family: lusitana;
  font-size: 25px;
  text-align: center;
}

.campo .gg {
  font-family: lusitana;
  font-size: 20px;
  text-align: center;
}


.box .campo input{
  background-color: #ffffffd3;
  border-top: none;
  border-left: none;
  border-right: none;

  border-radius: 5px;

  height: 20%;
  width: 100%;
  margin-bottom: 2%;
}

.box_cad .campo .dir input{
  background-color: #ffffffd3;
  border-top: none;
  border-left: none;
  border-right: none;

  border-radius: 5px;

  height: 15%;
  width: 85%;
  margin-bottom: 2%;
}

.box_cad .campo .esq input{
  background-color: #ffffffd3;
  border-top: none;
  border-left: none;
  border-right: none;

  border-radius: 5px;

  height: 15%;
  width: 85%;
  margin-bottom: 2%;
}

.box_cad .campo select {
  
  border-radius: 5px;

  height: 17%;
  width: 87%;
  margin-bottom: 2%;
}

.box_cad .campo .dir {
  width: 40%;
  margin-right: -15px;
}

.box_cad .campo .esq {
  width: 40%;
  margin-left: 10px;
}

.formulario .box_bt{
  display: flex;
  height: 20%;
  justify-content: center;

  margin-top: 8%;
}

.formulario .botao {
  background-color: #593d2c;
  height: 100%;
  width: 50%;
  border-radius: 5px;

  border: #000 solid 1px;
  color: #dea37f;
  font-family: linden-hill;
  font-size: 20px;
}

.gg {
  font-size: 15px;

}

.lista {
  display: flex;

  justify-content: space-around;
}



.loading {
  height: 20%;
  width: 20%;

  display: none;
  justify-content: center;

  margin-left: 40%;
  margin-top: 4%;
  
}

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #977850d8;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ff0000 3px solid;
  padding: 10px;
  margin-right: 10%;
  margin-top: 90px;

  font-weight: bold;
  
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

#div_erros_login {
  display: none
}


@font-face {
  font-family: linden-hill;
  src: url(../assets/fonts/LindenHill-Regular.ttf);
  
}

@font-face {
  font-family: lily;
  src: url(../assets/fonts/LilyScriptOne-Regular.ttf);
  
}

@font-face {
  font-family: lusitana;
  src: url(../assets/fonts/Lusitana-Regular.ttf);
  
}

@font-face {
  font-family: petit;
  src: url(../assets/fonts/PetitFormalScript-Regular.ttf);
  
}

@font-face {
  font-family: pridi;
  src: url(../assets/fonts/Pridi-Regular.ttf);
  
}