  body{
    margin: 0;
    padding: 0;
    background-color: #3A2C23;
  }

  header {
    position: fixed;
    justify-content: space-between;
    z-index: 1;
  }

  .main {
    display: block;
  }
  header .logo {
    display: flex;
    align-items: center;
    padding-left: 20px;
  }

  header .logo img {
    width: 60%;
    height: 80%;
    border-radius: 50px;
  }

  .container{
    display: flex;
    width: 100%;
    background-color: #331e1ce6;
    height: 90px;
    color: #fff;
    width: 100%;
  }

  .logo_txt{
    margin-left: 10px;
  }

  .itensNaveBar {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 350px;
    list-style: none;
    padding-right: 20px;
    font-family: linden-hill;
    font-weight: 100;
    font-size: 20px;
  }
  
  .itensNaveBar a{
    text-decoration: none;
    color: #fff;
  }

  .home {
    background-image: url('imagens/fundo_tela.jpeg');
    background-size: cover;
    width: 100%;
    height: 100vh;
  }

  .book{
    margin-bottom: 0;
    font-family: linden-hill;
    font-weight: 100;
  }

  .break{
    margin-top: -15px;
    margin-left: 8px;
    font-family: linden-hill;
    font-weight: 100;
  }

  .chamado {
    position: relative;
    height: 250px;

  }

  .chamado img {
    width: 50%;
    height: 350%;
    margin-left: -30px;
  }

  .chamado .textos {
    position: absolute;
    top: 300px;
    left: 140px;
  }

  .chamado h1 {
    font-family: lily;
    font-size: 70px;
    font-weight: 100;
    margin-bottom: 5px;
  }

  .chamado h2 {
    font-family: lusitana;
    font-size: 20px;
    font-weight: 100;
    margin-top: 0px;
  }

  .sobNos {
    background-image: url(imagens/livro_sob.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 1300px;
    margin-top: 80px;
    margin-left: 7%;
    align-self: center;
  }

  @font-face {
    font-family: linden-hill;
    src: url(fonts/LindenHill-Regular.ttf);
    
  }

  @font-face {
    font-family: lily;
    src: url(fonts/LilyScriptOne-Regular.ttf);
    
  }

  @font-face {
    font-family: lusitana;
    src: url(fonts/Lusitana-Regular.ttf);
    
  }